.footer-container {
  clear: both;
  background: $color-blue;
  color: $color-white-text;
  font-size: 0.6em;
  line-height: 1.1em;
  text-align: center;
  a {
    color: $color-white-text;
    text-decoration: underline;
  }
  .footer-top-text {
    margin-top: 5em;
    margin-bottom: 3em;
  }
  .footer-bottom-text {
    margin-bottom: 5em;
  }
}
