/*******************************************************************************
 * style.scss
 ******************************************************************************/
/* Colors */
/* line 1, ../sass/partials/_header.scss */
.header {
  margin-top: 2.5em;
}

/* line 5, ../sass/partials/_header.scss */
.img-responsive {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  height: 30em;
}

/* line 12, ../sass/partials/_header.scss */
.header-info-top {
  background-color: #1664a6;
  padding: 1.5em;
  text-align: center;
}
/* line 18, ../sass/partials/_header.scss */
.header-info-top p,
.header-info-top h2,
.header-info-top h3 {
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}
/* line 24, ../sass/partials/_header.scss */
.header-info-top h2 {
  font-size: 1.9em;
}

/* line 29, ../sass/partials/_header.scss */
.header-info-bottom {
  padding: 0.9em;
}
/* line 31, ../sass/partials/_header.scss */
.header-info-bottom h1 {
  font-weight: bold;
  font-size: 1.8em;
  color: #1664a6;
}
/* line 36, ../sass/partials/_header.scss */
.header-info-bottom p {
  color: #1664a6;
  font-size: 1.3em;
}

/* line 1, ../sass/partials/_newsletter.scss */
.newsletter {
  padding: 0.9em;
}
/* line 3, ../sass/partials/_newsletter.scss */
.newsletter h4 {
  font-weight: bold;
  font-size: 1.5em;
  color: #fcb040;
  margin: 0;
}
/* line 12, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0.9em;
}
/* line 16, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-4 {
  padding: 0;
}
/* line 20, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-3,
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-8 {
  padding-left: 0;
  padding-right: 0;
}
/* line 23, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-3 label,
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-8 label {
  font-weight: normal;
}
/* line 32, ../sass/partials/_newsletter.scss */
.newsletter .email-address,
.newsletter .firstname {
  color: #fcb040;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
/* line 40, ../sass/partials/_newsletter.scss */
.newsletter .required {
  border: 1px solid #fcb040;
  width: 100%;
  font-size: 1.3em;
}
/* line 46, ../sass/partials/_newsletter.scss */
.newsletter .button {
  padding: 0.3em;
  width: 100%;
  margin-top: 0.5em;
  color: white;
  background-color: #fcb040;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

/* line 1, ../sass/partials/_global.scss */
body {
  max-width: 1560px;
}

/* line 5, ../sass/partials/_global.scss */
h1, h2, h3, h4 {
  font: "Montserrat", sans-serif;
  text-transform: uppercase;
}

/* line 10, ../sass/partials/_global.scss */
p {
  font: "Open Sans", sans-serif;
}

/* line 14, ../sass/partials/_global.scss */
.menu-box {
  background-color: #fcb040;
  padding: 2.2em;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: left;
  margin-bottom: 0;
}
/* line 21, ../sass/partials/_global.scss */
.menu-box p {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 2.3em;
  line-height: 0.9em;
}
/* line 28, ../sass/partials/_global.scss */
.menu-box p.subtitle {
  font-size: 1.1em;
  line-height: 0;
}

/* line 1, ../sass/partials/_sponsors.scss */
.col-md-4 {
  clear: both;
}

/* line 10, ../sass/partials/_sponsors.scss */
.silver-sponsor-logo div,
.silver-sponsor-logo p,
.bronze-sponsor-logo div,
.bronze-sponsor-logo p,
.gold-sponsor-logo div,
.gold-sponsor-logo p {
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
/* line 15, ../sass/partials/_sponsors.scss */
.silver-sponsor-logo a:hover,
.bronze-sponsor-logo a:hover,
.gold-sponsor-logo a:hover {
  text-decoration: none;
}

/* line 23, ../sass/partials/_sponsors.scss */
.menu-box.gold-sponsor,
.menu-box.silver-sponsor,
.menu-box.bronze-sponsor {
  padding-right: 0em;
}

/* line 26, ../sass/partials/_sponsors.scss */
.menu-box.gold-sponsor {
  background-color: #fcb040;
  margin-top: 2.5em;
}

/* line 30, ../sass/partials/_sponsors.scss */
.menu-box.silver-sponsor {
  background-color: #1664a6;
}

/* line 33, ../sass/partials/_sponsors.scss */
.menu-box.bronze-sponsor {
  background-color: #89caae;
}

/* line 36, ../sass/partials/_sponsors.scss */
.menu-box.sponsor-ad {
  background-color: #fff;
}
/* line 38, ../sass/partials/_sponsors.scss */
.menu-box.sponsor-ad p {
  color: #1664a6;
  font-size: 1.6em;
}

/* line 51, ../sass/partials/_sponsors.scss */
.gold-sponsor-logo div:nth-child(1) div,
.gold-sponsor-logo div:nth-child(2) div,
.gold-sponsor-logo div:nth-child(3) div,
.bronze-sponsor-logo div:nth-child(1) div,
.bronze-sponsor-logo div:nth-child(2) div,
.bronze-sponsor-logo div:nth-child(3) div,
.silver-sponsor-logo div:nth-child(1) div,
.silver-sponsor-logo div:nth-child(2) div,
.silver-sponsor-logo div:nth-child(3) div {
  color: white;
  display: table-cell;
  vertical-align: middle;
  padding: 1em;
  text-align: center;
}

/* line 61, ../sass/partials/_sponsors.scss */
.gold-sponsor-logo .col-md-7 {
  padding: 0.6em;
}
/* line 63, ../sass/partials/_sponsors.scss */
.gold-sponsor-logo .col-md-7 div:nth-child(1) {
  background-color: #fcb040;
  font-size: 1.4em;
  padding-left: 3em;
  padding-right: 3em;
  width: 1%;
  height: 4em;
}

/* line 74, ../sass/partials/_sponsors.scss */
.silver-sponsor-tab {
  background-color: #1664a6;
  margin-top: 1em;
}

/* line 79, ../sass/partials/_sponsors.scss */
.silver-sponsor-logo {
  padding-left: 16px;
  padding-right: 16px;
}
/* line 84, ../sass/partials/_sponsors.scss */
.silver-sponsor-logo div:nth-child(1) div,
.silver-sponsor-logo div:nth-child(2) div {
  font-size: 1.4em;
  height: 5em;
  background-color: #1664a6;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  width: 1%;
  padding-left: 3em;
  padding-right: 3em;
}
/* line 97, ../sass/partials/_sponsors.scss */
.silver-sponsor-logo div:nth-child(2) {
  display: none;
}
/* line 100, ../sass/partials/_sponsors.scss */
.silver-sponsor-logo .col-md-3 {
  padding: 0.7em;
  margin-top: 0.9em;
}

/* line 107, ../sass/partials/_sponsors.scss */
.bronze-sponsor-tab {
  background-color: #89caae;
  margin-top: 1.5em;
}

/* line 112, ../sass/partials/_sponsors.scss */
.bronze-sponsor-logo {
  padding-left: 16px;
  padding-right: 16px;
}
/* line 118, ../sass/partials/_sponsors.scss */
.bronze-sponsor-logo div:nth-child(1) div,
.bronze-sponsor-logo div:nth-child(2) div,
.bronze-sponsor-logo div:nth-child(3) div {
  background-color: #89caae;
  font-size: 1.5em;
  height: 4.5em;
  width: 1%;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3em;
  padding-right: 3em;
}
/* line 131, ../sass/partials/_sponsors.scss */
.bronze-sponsor-logo div:nth-child(2),
.bronze-sponsor-logo div:nth-child(3) {
  display: none;
}
/* line 134, ../sass/partials/_sponsors.scss */
.bronze-sponsor-logo .col-md-2 {
  padding: 0.7em;
}

/* line 140, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab {
  padding-bottom: 0.6em;
  padding-top: 1.5em;
}
/* line 143, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab p:nth-child(1) {
  font-size: 1.6em;
}
/* line 146, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab p:nth-child(2) {
  font-size: 1.5em;
}
/* line 150, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab p:nth-child(1),
.promote-sponsor-tab p:nth-child(2) {
  color: #1664a6;
  margin-bottom: 0;
}

/* line 156, ../sass/partials/_sponsors.scss */
.promote-sponsor-button {
  background-color: #fcb040;
  text-align: center;
  margin-bottom: 2em;
  width: 100%;
  color: white;
  font-size: 1.5em;
  padding: 1em;
}

/* line 166, ../sass/partials/_sponsors.scss */
a:hover {
  text-decoration: none;
}

/* line 1, ../sass/partials/_footer.scss */
.footer-container {
  clear: both;
  background: #1664a6;
  color: white;
  font-size: 0.6em;
  line-height: 1.1em;
  text-align: center;
}
/* line 8, ../sass/partials/_footer.scss */
.footer-container a {
  color: white;
  text-decoration: underline;
}
/* line 12, ../sass/partials/_footer.scss */
.footer-container .footer-top-text {
  margin-top: 5em;
  margin-bottom: 3em;
}
/* line 16, ../sass/partials/_footer.scss */
.footer-container .footer-bottom-text {
  margin-bottom: 5em;
}

@media only screen and (min-width: 420px) {
  /* line 3, ../sass/partials/_media-queries.scss */
  .img-responsive {
    margin-bottom: 2.5em;
  }

  /* line 7, ../sass/partials/_media-queries.scss */
  .header-info-top {
    padding: 2.2em;
    padding-top: 3.5em;
    padding-bottom: 5.5em;
  }
  /* line 10, ../sass/partials/_media-queries.scss */
  .header-info-top p,
  .header-info-top h2,
  .header-info-top h3 {
    text-align: left;
  }
  /* line 14, ../sass/partials/_media-queries.scss */
  .header-info-top h3,
  .header-info-top p {
    font-size: 1.5em;
  }
  /* line 17, ../sass/partials/_media-queries.scss */
  .header-info-top h2 {
    font-size: 2.1em;
    margin-top: 0;
  }
  /* line 21, ../sass/partials/_media-queries.scss */
  .header-info-top h3 {
    margin-bottom: 0;
  }

  /* line 30, ../sass/partials/_media-queries.scss */
  .header-info-bottom h1 {
    font-size: 2.2em;
  }
  /* line 33, ../sass/partials/_media-queries.scss */
  .header-info-bottom p {
    font-size: 2em;
  }

  /* line 39, ../sass/partials/_media-queries.scss */
  .newsletter h4 {
    font-size: 2.2em;
  }
  /* line 43, ../sass/partials/_media-queries.scss */
  .newsletter .email-address,
  .newsletter .firstname {
    font-size: 1.5em;
  }

  /* line 48, ../sass/partials/_media-queries.scss */
  .newsletter {
    padding: 1em;
  }

  /* line 52, ../sass/partials/_media-queries.scss */
  .newsletter form #mc_embed_signup_scroll .mc-field-group {
    margin-top: 1.5em;
  }

  /* line 56, ../sass/partials/_media-queries.scss */
  .newsletter form #mc_embed_signup_scroll .mc-field-group.col-md-8 .col-md-8 {
    padding: 0;
  }

  /* line 60, ../sass/partials/_media-queries.scss */
  .newsletter .button {
    font-size: 1.5em;
  }

  /* line 65, ../sass/partials/_media-queries.scss */
  .menu-box p:nth-child(1) {
    font-size: 2.5em;
  }
  /* line 68, ../sass/partials/_media-queries.scss */
  .menu-box p:nth-child(2) {
    font-size: 1.2em;
  }

  /* line 75, ../sass/partials/_media-queries.scss */
  .gold-sponsor-tab,
  .silver-sponsor-tab,
  .bronze-sponsor-tab {
    padding: 1.6em;
    padding-top: 3em;
    padding-bottom: 2em;
    text-align: left;
  }
  /* line 80, ../sass/partials/_media-queries.scss */
  .gold-sponsor-tab p:nth-child(1),
  .silver-sponsor-tab p:nth-child(1),
  .bronze-sponsor-tab p:nth-child(1) {
    font-size: 1.8em;
  }

  /* line 85, ../sass/partials/_media-queries.scss */
  .gold-sponsor-tab {
    margin-top: 5em;
  }

  /* line 89, ../sass/partials/_media-queries.scss */
  .gold-sponsor-logo .col-md-7 {
    margin-left: 0;
    margin-top: 5em;
  }
  /* line 92, ../sass/partials/_media-queries.scss */
  .gold-sponsor-logo .col-md-7 div:nth-child(1) {
    font-size: 1.7em;
  }

  /* line 97, ../sass/partials/_media-queries.scss */
  .silver-sponsor-logo .col-md-3 {
    width: 37%;
  }

  /* line 101, ../sass/partials/_media-queries.scss */
  .silver-sponsor-logo div:nth-child(1) div, .silver-sponsor-logo div:nth-child(2) div {
    margin-left: 0;
    height: 5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  /* line 108, ../sass/partials/_media-queries.scss */
  .silver-sponsor-tab {
    margin-top: 0;
  }

  /* line 112, ../sass/partials/_media-queries.scss */
  .silver-sponsor-logo div:nth-child(2) {
    display: initial;
  }

  /* line 116, ../sass/partials/_media-queries.scss */
  .bronze-sponsor-logo .col-md-2 {
    margin-top: 1.5em;
    width: 30%;
  }

  /* line 123, ../sass/partials/_media-queries.scss */
  .bronze-sponsor-logo div:nth-child(1) div,
  .bronze-sponsor-logo div:nth-child(2) div,
  .bronze-sponsor-logo div:nth-child(3) div {
    margin-left: 0;
    display: table-cell;
    padding: 0.6em;
    font-size: 1.3em;
  }

  /* line 130, ../sass/partials/_media-queries.scss */
  .bronze-sponsor-logo div:nth-child(2), .bronze-sponsor-logo div:nth-child(3) {
    display: initial;
  }

  /* line 134, ../sass/partials/_media-queries.scss */
  .bronze-sponsor-tab {
    margin-top: 0;
  }

  /* line 138, ../sass/partials/_media-queries.scss */
  .promote-sponsor-tab {
    padding-top: 2.5em;
    padding: 1.6em;
  }
  /* line 141, ../sass/partials/_media-queries.scss */
  .promote-sponsor-tab p:nth-child(1) {
    font-size: 1.8em;
  }

  /* line 146, ../sass/partials/_media-queries.scss */
  .promote-sponsor-button {
    margin-top: 1em;
    margin-left: 0.5em;
  }

  /* line 151, ../sass/partials/_media-queries.scss */
  .footer-container p {
    font-size: 1.5em;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1250px) {
  /* line 161, ../sass/partials/_media-queries.scss */
  .header-info-top h3,
  .header-info-top p {
    font-size: 1.2em;
  }
  /* line 164, ../sass/partials/_media-queries.scss */
  .header-info-top h2 {
    font-size: 2.2em;
  }

  /* line 169, ../sass/partials/_media-queries.scss */
  .header-info-bottom p {
    font-size: 1.8em;
  }

  /* line 173, ../sass/partials/_media-queries.scss */
  .gold-sponsor-tab {
    margin-top: 3em;
  }

  /* line 177, ../sass/partials/_media-queries.scss */
  .gold-sponsor-logo .col-md-7 img {
    margin-top: 3em;
  }

  /* line 182, ../sass/partials/_media-queries.scss */
  .promote-sponsor-button a a:hover {
    text-decoration: none;
  }

  /* line 187, ../sass/partials/_media-queries.scss */
  .footer-container {
    padding-top: 3em;
    padding-bottom: 5em;
  }
}
