/*******************************************************************************
 * style.scss
 ******************************************************************************/
/* Colors */
/* line 1, ../sass/partials/_global.scss */
.header {
  margin-top: 5em;
}

/* line 4, ../sass/partials/_global.scss */
.img-responsive {
  margin-right: auto;
  margin-left: auto;
}

/* line 10, ../sass/partials/_global.scss */
.col-md-8,
.col-md-3,
.col-md-2 {
  padding-left: 0;
}

/* line 18, ../sass/partials/_global.scss */
.progress-box-wrapper,
.more-info-tab-right,
.gold-sponsor-tab-left,
.promote-sponsor-tab,
h3,
.promote-sponsor-container .col-md-3 {
  margin-top: 3em;
}

/* line 21, ../sass/partials/_global.scss */
.promote-sponsor-tab {
  margin-left: 1.5em;
}

/* line 25, ../sass/partials/_global.scss */
p.progress-top-text,
h2 {
  font-size: 3em;
}

/* line 33, ../sass/partials/_global.scss */
p.progress-bottom-text,
.footer-container p,
.bronze-sponsor-logo,
.sponsor-tab-bottom-text,
.promote-sponsor-bottom-text {
  font-size: 1.5em;
}

/* line 37, ../sass/partials/_global.scss */
.p-header {
  padding-bottom: 5.5em;
}
/* line 41, ../sass/partials/_global.scss */
.p-header .p-header-text-conference,
.p-header .p-header-text-joindrupal,
.p-header .p-header-text-codesprint {
  padding-top: 0.8em;
}

/* line 48, ../sass/partials/_global.scss */
h2,
.more-info-tab-right p,
.promote-sponsor-container p {
  color: #1664a6;
}

/* line 52, ../sass/partials/_global.scss */
h2 {
  margin: 0;
}

/* line 56, ../sass/partials/_global.scss */
.more-info-tab-right p {
  font-size: 1.875em;
  margin-top: 0.5em;
}

/* line 64, ../sass/partials/_global.scss */
.gold-sponsor-tab-left,
.promote-sponsor-tab,
.progress-box-wrapper,
.button {
  background-color: #fcb040;
}

/* line 67, ../sass/partials/_global.scss */
.button {
  border: none;
  margin-bottom: 3em;
}

/* line 74, ../sass/partials/_global.scss */
.silver-sponsor-tab-left,
.silver-sponsor-logo,
.footer-container,
.p-header {
  background-color: #1664a6;
}

/* line 78, ../sass/partials/_global.scss */
.bronze-sponsor-logo,
.bronze-sponsor-tab-left {
  background-color: #89caae;
}

/* line 83, ../sass/partials/_global.scss */
#silver-sponsor-wrapper,
#bronze-sponsor-wrapper {
  padding-top: 0;
}

/* line 88, ../sass/partials/_global.scss */
.p-header,
.newsletter,
.sponsor-logo {
  padding-left: 2em;
}

/* line 93, ../sass/partials/_global.scss */
.p-header-text-uni,
.promote-sponsor-top-text,
.sponsor-tab-top-text {
  font-size: 2.500em;
}

/* line 96, ../sass/partials/_global.scss */
h3 {
  font-size: 2.250em;
}

/* line 101, ../sass/partials/_global.scss */
#mc_embed_signup_scroll,
h3 {
  margin-top: 1.5em;
}

/* line 108, ../sass/partials/_global.scss */
.email,
h3,
.email-address,
.firstname {
  color: #fcb040;
}

/* line 111, ../sass/partials/_global.scss */
.required {
  border: 1px solid #fcb040;
  width: 100%;
}

/* line 116, ../sass/partials/_global.scss */
.email-address,
.firstname {
  font-size: 1.3em;
}

/* line 119, ../sass/partials/_global.scss */
.button {
  padding: 0.5em;
  width: 64%;
  margin-top: 1em;
}

/* line 136, ../sass/partials/_global.scss */
h2,
.uppercase,
.p-email,
.p-firstname,
.sponsor-tab-top-text,
.sponsor-tab-bottom-text,
.silver-sponsor-logo,
.bronze-sponsor-logo,
.promote-sponsor-container p,
.promote-sponsor-tab,
.email-address,
.firstname,
.button {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

/* line 141, ../sass/partials/_global.scss */
.more-info-tab-right p,
.footer-container p {
  font-family: 'Montserrat', sans-serif;
}

/* line 146, ../sass/partials/_global.scss */
.more-info-tab-right,
#mc_embed_signup,
.sponsors-tab-right {
  padding-left: 2em;
  padding-right: 2em;
}

/* line 150, ../sass/partials/_global.scss */
.sponsors-tab-right {
  padding-top: 1.5em;
}

/* line 154, ../sass/partials/_global.scss */
.uppercase {
  font-size: 1.688em;
}

/* line 166, ../sass/partials/_global.scss */
.uppercase,
.silver-sponsor-logo,
.bronze-sponsor-logo,
.gold-sponsor-tab-left,
.silver-sponsor-tab-left,
.bronze-sponsor-tab-left,
.footer-container p,
.footer-container a,
.promote-sponsor-tab,
.button {
  color: white;
}

/* line 172, ../sass/partials/_global.scss */
.silver-sponsor-logo,
.bronze-sponsor-logo,
.footer-container p,
.promote-sponsor-tab {
  text-align: center;
}

/* line 176, ../sass/partials/_global.scss */
.silver-sponsor-logo,
.bronze-sponsor-logo {
  padding: 1em;
}

/* line 179, ../sass/partials/_global.scss */
.silver-sponsor-logo {
  font-size: 2.223em;
  height: 5em;
  display: table-cell;
  vertical-align: middle;
  width: 11em;
}

/* line 188, ../sass/partials/_global.scss */
.silver-sponsor-logo,
.p-header,
.sponsor-tab-top-text {
  margin-bottom: 0;
}

/* line 191, ../sass/partials/_global.scss */
.bronze-sponsor-logo {
  height: 6.9em;
  display: table-cell;
  vertical-align: middle;
  width: 10em;
}

/* line 198, ../sass/partials/_global.scss */
.promote-sponsor-container .col-md-4,
.promote-sponsor-container .col-md-3 {
  margin-bottom: 5em;
}

/* line 205, ../sass/partials/_global.scss */
#silver-sponsor-wrapper,
#bronze-sponsor-wrapper,
.promote-sponsor-container .col-md-4,
.footer-container {
  clear: both;
}

/* line 216, ../sass/partials/_global.scss */
.gold-sponsor-tab-left,
.silver-sponsor-tab-left,
.bronze-sponsor-tab-left,
.progress-box-wrapper,
.promote-sponsor-tab-left,
.p-header,
.newsletter,
.sponsor-logo {
  padding: 3.5em;
}

/* line 219, ../sass/partials/_global.scss */
.footer-top-text {
  padding: 2em;
  padding-top: 5em;
}

/* line 223, ../sass/partials/_global.scss */
.footer-bottom-text {
  padding-bottom: 7em;
}

/* line 226, ../sass/partials/_global.scss */
.promote-sponsor-tab {
  font-size: 1.375em;
  padding: 1.5em;
}
