.footer-container {
  clear: both;
  background: $color-blue;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-top: 2em;
  width: 100%;
  img.membership-logo {
    padding: 0 0 16px;
  }
  div:nth-child(1),
  div:nth-child(2) {
    text-align: center;
    font-size: 0.8em;
    color: $color-white-text;
    font-family: $font-text;
    font-weight: 300;
    p a {
      color: $color-white-text;
      text-decoration: underline;
    }
  }
  .drupal-8-footer {
    margin-top: 1em;
    margin-bottom: 1em;
    img {
      padding-right: 0.5em;
      width: 10%;
    }
  }
}
