#site-wrapper {
  max-width: 1560px;
  margin-top: 1em;
}

body,
html {
  width: 100%;
}

h1, h2, h3, h4 {
  font: $font-title;
  text-transform: uppercase;
}

p {
  font-family: $font-text;
  font-size: 1em;
}

.menu-box {
  background-color: $color-orange;
  padding: 1.6em;
  padding-top: 2em;
  padding-bottom: 2em;
  p {
    font-family: $font-title;
    text-transform: uppercase;
    color: $color-white-text;
    font-size: 1.6em;
    text-align: center;
    line-height: 0.9em;
    margin-bottom: 0;
  }
  p.subtitle {
    font-size: 1.1em;
    padding-top: 0.3em;
    a {
      text-decoration: underline;
      color: $color-white-text;
    }
  }
}
