#site-wrapper {
  max-width: $container-width;
  margin: 1.5em auto 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  text-transform: uppercase;
}
.content,
.view-content {
  p {
    font-size: 1.4em;
    color: $color-blue;
  }
}

article {
  a {
    color: $color-orange;
    text-transform: lowercase;
  }
  a:hover {
    color: $color-orange;
  }
  .node__submitted {
    color: $color-blue;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// This applies to all menu boxes including sponsor tabs in region sponsors
.region-sidebar ul.menu {
  margin: 0;
  li {
    padding: 1.6em;
    padding-top: 2em;
    padding-bottom: 2em;
    a, p {
      color: $color-white-text;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
}

.region-sidebar li:nth-child(1) {
  background-color: $color-orange;
}
.region-sidebar li:nth-child(2) {
  background-color: $color-blue;
}
.region-sidebar li:nth-child(3) {
  background-color: $color-green;
}
.region-sidebar li:nth-child(4) {
  background-color: #fff;
}

h3 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
  color: $color-white-text;
}

a {
  font-size: 1em;
  text-transform: uppercase;
  color: $color-white-text;
}

a:hover {
  text-decoration: none;
  color: $color-white-text;
}

p.subtitle {
  text-decoration: underline;
}
