#site-wrapper {
  max-width: $container-width;
  margin: 1.5em auto 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  text-transform: uppercase;
}

p {
  font-family: $font-text;
  font-size: 1em;
}

.menu-box {
  background-color: $color-orange;
  padding: 1.6em;
  padding-top: 2em;
  padding-bottom: 2em;
  p {
    color: $color-white-text;
    font-family: $font-title;
    font-size: 1.6em;
    line-height: 0.9em;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  p.subtitle {
    font-size: 1.1em;
    padding-top: 0.3em;
    a {
      color: $color-white-text;
      text-decoration: underline;
    }
  }
}
