.header {
  margin-top: 2.5em;
}

#site-wrapper {
  .site-logo {
    margin-bottom: 1.5em;
    text-align: center;
    img {
     height: 30em;
    }
  }
}

.header-info-top {
  padding: 1.6em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: $color-blue;
  margin-top: 1em;
  h3,
  p {
    font-size: 1.1em;
  }
  p,
  h2,
  h3 {
    color: $color-white-text;
    text-transform: uppercase;
    font-weight: 700;
  }
  h2 {
    font-size: 1.6em;
  }
  a {
    color: #fff;
    font-size: 1.2em;
  }
}

.content,
.region-header-info-bottom {
  h1,
  h2 {
    font-weight: bold;
    color: $color-blue;
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
  .field-item {
    margin-top: 2em;
  }
}
