.header {
  margin-top: 2.5em;
}

#site-wrapper .site-logo {
  margin-bottom: 1.5em;
  text-align: center;
}

.header-info-top {
  background-color: $color-blue;
  padding: 1.5em;
  p,
  h2 {
    color: $color-white-text;
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 1.1em;
  }
  a {
    color: #fff;
    font-size: 1.2em;
  }
}

.content h1 {
  font-size: 1.8em;
  text-align: center;
}

.content,
.region-header-info-bottom {
  h1,
  h2 {
    font-weight: bold;
    color: $color-blue;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  .field-item {
    margin-top: 2em;
  }
}
