/* Mobile landscape */
@media only screen and (min-width: 480px) {
  #site-wrapper .site-logo img {
    height: 22em;
  }
  .flexslider .slides img {
    width: 50%;
  }
}

/* Tablet portrait */

@media only screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 3em;
  }
  .sponsors h2 {
    text-align: left;
    padding: 0.3em;
  }

  .header-info-top a {
    font-size: 1.6em;
  }

  .region-header-info-top,
  .view-carousel-proposal .view-header {
    h2 {
      font-size: 2.5em;
    }
    h3,
    p {
      font-size: 1.6em;
    }
  }
  .menu-item {
    h3 {
      font-size: 2.2em;
    }
    p.subtitle {
      font-size: 1.5em;
    }
  }
  .view-carousel-proposal .view-header h2 {
    font-size: 2.5em;
  }
  .content p, .view-content p,
  .view-content .drupalcamp-speaker,
  .view-content .topic-summary p,
  .view-content .session-type-label,
  .view-content .session-level-label{
    font-size: 1.8em;
  }

  .view-content .speaker-drupalcamp-topic {
    font-size: 2em;
  }

  .nav-tabs li a {
    font-size: 1.5em;
  }
  .footer-container div:nth-child(1), .footer-container div:nth-child(2) {
    font-size: 1.5em;
  }
  .sponsor-header {
    h3 {
      font-size: 2.5em;
    }
    p.subtitle {
      font-size: 1.5em;
    }
  }
  .region-sponsors  {
    .view-empty a {
      font-size: 1.8em;
    }
  }
}


/* Tablet landscape */
@media only screen and (min-width: 1020px) {
  .region-sponsors .view-sponsors ,
  .region-sponsors .view-sponsors-and-partners-page {
    display: table;
    width: 100%;
    margin: 0;
    .views-row {
      text-align: unset;
    }
  }
  .region-sponsors .view-sponsors .view-header,
  .region-sponsors .view-sponsors-and-partners-page .view-header,
  .region-sponsors .view-sponsors .view-empty,
  .region-sponsors .view-sponsors-and-partners-page .view-empty,
  .region-sponsors .view-sponsors .view-content,
  .region-sponsors .view-sponsors-and-partners-page .view-content {
    display: table-cell;
    float: none;
  }
  .region-sponsors .view-sponsors .view-empty,
  .region-sponsors .view-sponsors-and-partners-page .view-empty,
  .region-sponsors .view-sponsors .view-content,
  .region-sponsors .view-sponsors-and-partners-page .view-content {
    vertical-align: middle;
  }
  #block-views-block-sponsors-block-sponsor-promote .view-empty a {
    display: inline-block;
  }

  #block-views-block-sponsors-block-sponsor-gold,
  #block-views-block-sponsors-and-partners-page-block-sponsor-gold {
    .sponsor-header {
      height: 18em;
    }
  }

  #block-views-block-sponsors-block-sponsor-silver,
  #block-views-block-sponsors-and-partners-page-block-sponsor-silver {
    .sponsor-header {
      height: 15em;
    }
  }
  #block-views-block-sponsors-block-sponsor-bronze,
  #block-views-block-sponsors-and-partners-page-block-sponsor-bronze{
    .sponsor-header {
      height: 13em;
    }
  }
  #block-views-block-sponsors-and-partners-page-block-partners {
    .sponsor-header {
      height: 10em;
    }
  }
  .region-sponsors .view-empty a {
    padding-top: 20px;
  }
  .col-md-8.camp-button-wrapper {
    width: 66.66666667%;
    float: right;
    .camp-button {
      width: 50%;
      float: left;
    }
  }
  .view-carousel-proposal .col-md-5.img-speaker,
  .view-carousel-proposal .speaker-drupalcamp-topic,
  .view-carousel-proposal .drupalcamp-speaker,
  .view-carousel-proposal .session-summary {
    text-align: center;
    width: 100%;
    img {
      width: 50%;
    }
  }
  .speaker-drupalcamp-topic a {
    font-size: 1em;
  }
  .view-proposals {
    .views-row {
      overflow: hidden;
    }
    .col-md-7.speaker-drupalcamp-topic {
      margin-top: 0;
    }
    .view-content {
      width: 100%;
      .col-md-7.session-type-label,
      .col-md-7.session-level-label,
      .col-md-7.topic-summary {
        float: right;
      }
    }
  }
  .camp-button {
    width: 50%;
  }
}

@media only screen and (min-width: 1290px) {
  .view-proposals {
    .col-md-5.img-speaker {
      text-align: center;
    }
  }
  .view-carousel-proposal {
  .col-md-5.img-speaker,
  .col-md-6.speaker-drupalcamp-topic,
  .col-md-7.drupalcamp-speaker,
  .col-md-7.session-summary {
      width: 50%;
      text-align: left;
    }
  }
  .view-carousel-proposal .col-md-5.img-speaker img {
    width: 70%;
  }
  .view-carousel-proposal .col-md-6.speaker-drupalcamp-topic {
    margin-top: 0;
  }
}
