.col-md-8 {
  .content {
    overflow: hidden;
    h1 {
      font-size: 2.3em;
      margin-bottom: 0.5em;
      font-family: $font-title;
      text-align: left;
    }
    h6,
    .speaker-announcement {
      color: $color-blue;
      font-family: $font-text;
      font-size: 1.3em;
      text-align: left;
      margin-bottom: 1.5em;
      a {
       color: $color-orange;
      }
    }
    .col-md-12 {
      padding-left: 0;
    }
    a {
      color: $color-orange;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

a {
  text-decoration: underline;
}

.views-row {
  float: left;
  margin-bottom: 1.5em;
}

.col-md-9.drupalcamp-speaker,
.col-md-9.session-type {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  color: $color-blue;
}
.topic-summary p {
  font-size: 1.3em;
}
.col-md-9.speaker-drupalcamp-topic {
  margin: 0;
  font-family: $font-title;
  a {
    color: $color-blue;
    font-size: 1.6em;
  }
}
