// Style specific for promote sponsor.
.sponsors {
  h2 {
    color: $color-blue;
    padding: 0.2em;
    text-align: center;
  }
  img {
    width: 50%;
  }
}

.promote-sponsor-tab {
  padding-bottom: 0.6em;
  padding-top: 1.5em;
  p:nth-child(1) {
    font-size: 1.6em;
  }
  p:nth-child(2) {
    font-size: 1.5em;
  }
  p:nth-child(1),
  p:nth-child(2) {
    color: $color-blue;
    margin-bottom: 0;
  }
}

#block-views-block-sponsors-block-sponsor-promote h3 {
  color: #1664a6;
}

.view-sponsors,
.view-sponsors-and-partners-page {
  margin: 0.5em 0 2em 0;
  @include clearfix();
  .views-row {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

/* Sponsor header background */
#block-views-block-sponsors-block-sponsor-gold,
#block-views-block-sponsors-and-partners-page-block-sponsor-gold {
  overflow: hidden;
  .sponsor-header {
    background-color: $color-orange;
  }
}

#block-views-block-sponsors-block-sponsor-silver,
#block-views-block-sponsors-and-partners-page-block-sponsor-silver,
#block-views-block-sponsors-and-partners-page-block-partners {
  .sponsor-header {
    background-color: $color-blue;
  }
}

#block-views-block-sponsors-block-sponsor-bronze,
#block-views-block-sponsors-and-partners-page-block-sponsor-bronze,
#block-views-block-sponsors-and-partners-page-block-code-sprint,
#block-views-block-sponsors-and-partners-page-block-coffee,
#block-views-block-sponsors-and-partners-page-block-saturday-lunch,
#block-views-block-sponsors-and-partners-page-block-sat-night, {
  .sponsor-header {
    background-color: $color-green;
  }
}

#block-views-block-sponsors-and-partners-page-block-code-sprint,
#block-views-block-sponsors-and-partners-page-block-coffee,
#block-views-block-sponsors-and-partners-page-block-saturday-lunch,
#block-views-block-sponsors-and-partners-page-block-sat-night,
#block-views-block-sponsors-and-partners-page-block-partners {
  margin-top: 1.2em;
}

#block-views-block-sponsors-block-sponsor-promote .sponsor-header {
  padding: 3em 1.6em 1em;
}

/* View should be hidden without content, but view still showing in the markup.
Temporary fix, display: none. */
#block-views-block-sponsors-and-partners-page-block-saturday-lunch,
#block-views-block-sponsors-and-partners-page-block-sat-night {
  display: none;
}

/* 'See all sponsors' button displayed except on /sponsors page. */
.path-sponsors .all-sponsor-button {
  display: none;
}

/* Sponsor header text */
.region-sponsors {
  .sponsor-header {
    padding: 2em 1.6em;
    overflow: hidden;
    a,
    h3 {
      color: #fff;
    }
    h3 {
      font-family: 1.3em;
      font-weight: 700;
      margin: 0;
    }
    a {
      font-size: 1.1em;
      text-transform: uppercase;
    }
    &:before {
      background-color: inherit;
      height: 100%;
      content: "";
      left: 15px;
      position: absolute;
      right: 15px;
      top: 0;
      z-index: -1;
    }
  }
}

.region-sponsors .view-empty a {
  color: #fff;
  display: block;
  height: 110px;
  padding: 40px 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 1.2em;
}

#block-views-block-sponsors-block-sponsor-gold {
  .view-empty a {
    background-color: $color-orange;
  }
}

#block-views-block-sponsors-block-sponsor-silver,
#block-views-block-sponsors-and-partners-page-block-sponsor-silver,
#block-views-block-sponsors-and-partners-page-block-partners {
  .view-empty a {
    background-color: $color-blue;
  }
}

#block-views-block-sponsors-block-sponsor-bronze,
#block-views-block-sponsors-and-partners-page-block-sponsor-bronze,
#block-views-block-sponsors-and-partners-page-block-code-sprint,
#block-views-block-sponsors-and-partners-page-block-coffee,
#block-views-block-sponsors-and-partners-page-block-saturday-lunch,
#block-views-block-sponsors-and-partners-page-block-sat-night {
  .view-empty a {
    background-color: $color-green;
  }
}

#block-views-block-sponsors-block-sponsor-promote .view-empty a {
  background-color: $color-orange;
  color: $color-white-text;
  font-size: 1.2em;
  height: auto;
  padding: 10px;
  text-align: center;
}

/* Sponsor override float into table display to center items */
@media (min-width: 992px) {
  .region-sponsors .view-sponsors ,
  .region-sponsors .view-sponsors-and-partners-page {
    display: table;
    width: 100%;
    .views-row {
      text-align: unset;
    }
  }
  .region-sponsors .view-sponsors .view-header,
  .region-sponsors .view-sponsors-and-partners-page .view-header,
  .region-sponsors .view-sponsors .view-empty,
  .region-sponsors .view-sponsors-and-partners-page .view-empty,
  .region-sponsors .view-sponsors .view-content,
  .region-sponsors .view-sponsors-and-partners-page .view-content {
    display: table-cell;
    float: none;
  }
  .region-sponsors .view-sponsors .view-empty,
  .region-sponsors .view-sponsors .view-content {
    vertical-align: middle;
  }
  #block-views-block-sponsors-block-sponsor-promote .view-empty a {
    display: inline-block;
  }
}

// See all sponsors' button
.col-md-8.camp-button-wrapper {
  width: 100%;
  .camp-button {
    font-size: 1.5em;
  }
}

.footer-container {
  margin-top: 3em;
}
