// Style specific for promote sponsor.
.promote-sponsor-tab {
  padding-bottom: 0.6em;
  padding-top: 1.5em;
  p:nth-child(1) {
    font-size: 1.6em;
  }
  p:nth-child(2) {
    font-size: 1.5em;
  }
  p:nth-child(1),
  p:nth-child(2) {
    color: $color-blue;
    margin-bottom: 0;
  }
}

#block-views-block-sponsors-block-sponsor-promote h3 {
  color: #1664a6;
}

.region-sponsors .view-sponsors {
  @include clearfix();

  .views-row {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

/* Sponsor header background */
#block-views-block-sponsors-block-sponsor-gold .sponsor-header {
  background-color: $color-orange;
}

#block-views-block-sponsors-block-sponsor-silver .sponsor-header {
  background-color: $color-blue;
}

#block-views-block-sponsors-block-sponsor-bronze .sponsor-header {
  background-color: $color-green;
}

#block-views-block-sponsors-block-sponsor-promote .sponsor-header {
  padding: 3em 1.6em 1em;
}

/* Sponsor header text */
.region-sponsors .sponsor-header {
  padding: 3em 1.6em;
  overflow: hidden;
  a,
  h3 {
    color: #fff;
  }
  h3 {
    font-size: 1.8em;
    font-weight: 700;
    margin: 0;
  }
  a {
    font-size: 1.3em;
    text-transform: uppercase;
  }
  &:before {
    background-color: inherit;
    bottom: 0;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: -1;
  }
}

.region-sponsors .view-empty a {
  color: #fff;
  display: block;
  height: 110px;
  padding: 40px 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}

#block-views-block-sponsors-block-sponsor-gold .view-empty a {
  background-color: $color-orange;
  font-size: 1.6em;
}

#block-views-block-sponsors-block-sponsor-silver .view-empty a {
  background-color: $color-blue;
  font-size: 1.4em;
}

#block-views-block-sponsors-block-sponsor-bronze .view-empty a {
  background-color: $color-green;
  font-size: 1.3em;
}

#block-views-block-sponsors-block-sponsor-promote .view-empty a {
  background-color: $color-orange;
  color: $color-white-text;
  font-size: 1.5em;
  height: auto;
  padding: 20px;
  text-align: center;
}

/* Sponsor override float into table display to center items */
@media (min-width: 992px) {
  .region-sponsors .view-sponsors {
    display: table;
    width: 100%;

    .views-row {
      text-align: unset;
    }
  }

  .region-sponsors .view-sponsors .view-header,
  .region-sponsors .view-sponsors .view-empty,
  .region-sponsors .view-sponsors .view-content {
    display: table-cell;
    float: none;
  }

  .region-sponsors .view-sponsors .view-empty,
  .region-sponsors .view-sponsors .view-content {
    vertical-align: middle;
  }

  #block-views-block-sponsors-block-sponsor-promote .view-empty a {
    display: inline-block;
  }

  #block-views-block-sponsors-block-sponsor-promote .sponsor-header {
    padding: 3em 1.6em;
  }
}
