.logo-wrapper,
.sponsor-page {
  text-align: center;
  margin-top: 1em;
}

#block-views-block-sponsors-block-sponsor-bronze,
#block-views-block-sponsors-block-sponsor-silver,
#block-views-block-sponsors-and-partners-silver-sponsor-2,
#block-views-block-sponsors-and-partners-bronze-sponsor-2,
#block-views-block-sponsors-and-partners-code-sprint-sponsor-2,
#block-views-block-sponsors-and-partners-saturday-night-sponsor-2,
#block-views-block-sponsors-and-partners-saturday-lunch-sponsor-2,
#block-views-block-sponsors-and-partners-coffee-and-snacks-sponsor-2,
#block-views-block-sponsors-and-partners-partners-2 {
  margin-top: 2.5em;
}

#block-views-block-sponsors-and-partners-partners-2 {
  margin-bottom: 4em;
}

.menu-box {
  vertical-align: middle;
}

// Sponsor tabs (left)
.menu-box.gold-sponsor {
  background-color: $color-orange;
}

.menu-box.silver-sponsor {
  background-color: $color-blue;
}

.menu-box.bronze-sponsor,
.menu-box.code-sprint-sponsor,
.menu-box.saturday-lunch-sponsor ,
.menu-box.saturday-night-sponsor,
.menu-box.coffee-and-snacks-sponsors {
  background-color: $color-green;
}

.menu-box#sponsor-ad {
  background-color: #fff;
  text-align: center;
  padding-bottom: 0.5em;
  p {
    color: $color-blue;
    font-size: 1.6em;
  }
}

// General styling for sponsor logos (right).
.gold-sponsor-logo,
.bronze-sponsor-logo,
.silver-sponsor-logo,
.code-sprint-sponsor-logo,
.saturday-night-sponsor-logo,
.saturday-lunch-sponsor-logo,
.coffee-snacks-sponsor-logo,
.partners-sponsor-logo {
  padding: 1em;
  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(3) {
    div {
     color: $color-white-text;
     text-align: center;
     padding-left: 2em;
     padding-right: 2em;
     font-size: 1.5em;
     height: 4em;
     font-family: $font-title;
     padding: 1.2em;
    }
  }
}

.gold-sponsor-logo .col-md-7 {
  div {
    background-color: $color-orange;
  }
}

.silver-sponsor-logo,
.partners-sponsor-logo {
  div:nth-child(1),
  div:nth-child(2) {
    div {
    background-color: $color-blue;
    }
  }
  div:nth-child(2) {
    display: none;
  }
}

.bronze-sponsor-logo,
.code-sprint-sponsor-logo,
.saturday-night-sponsor-logo,
.saturday-lunch-sponsor-logo,
.coffee-snacks-sponsor-logo {
  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(3) {
    div {
      background-color: $color-green;
    }
  }
  div:nth-child(2),
  div:nth-child(3) {
    display: none;
  }
}

// Style specific for promote sponsor.
.promote-sponsor-tab {
  padding-bottom: 0.6em;
  padding-top: 1.5em;
  p:nth-child(1) {
    font-size: 1.6em;
  }
  p:nth-child(2) {
    font-size: 1.5em;
  }
  p:nth-child(1),
  p:nth-child(2) {
    color: $color-blue;
    margin-bottom: 0;
  }
}

.promote-sponsor-button {
  background-color: $color-orange;
  text-align: center;
  margin-bottom: 2em;
  width: 100%;
  color: $color-white-text;
  font-size: 1.5em;
  padding: 1em;
}

a .promote-sponsor-button {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
