/*******************************************************************************
 * style.scss
 ******************************************************************************/
/* Colors */
/* line 1, ../sass/partials/_header.scss */
.header {
  margin-top: 2.5em;
}

/* line 6, ../sass/partials/_header.scss */
#site-wrapper .site-logo {
  margin-bottom: 1.5em;
  text-align: center;
}
/* line 9, ../sass/partials/_header.scss */
#site-wrapper .site-logo img {
  height: 30em;
}

/* line 15, ../sass/partials/_header.scss */
.header-info-top {
  background-color: #1664a6;
  margin-top: 1em;
}
/* line 20, ../sass/partials/_header.scss */
.header-info-top p,
.header-info-top h2,
.header-info-top h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 26, ../sass/partials/_header.scss */
.header-info-top h3,
.header-info-top p {
  font-size: 1.1em;
}
/* line 29, ../sass/partials/_header.scss */
.header-info-top h2 {
  font-size: 1.5em;
}
/* line 32, ../sass/partials/_header.scss */
.header-info-top a {
  color: #fff;
  font-size: 1.2em;
}

/* line 41, ../sass/partials/_header.scss */
.content h1,
.content h2,
.region-header-info-bottom h1,
.region-header-info-bottom h2 {
  font-weight: bold;
  color: #1664a6;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
/* line 47, ../sass/partials/_header.scss */
.content .field-item,
.region-header-info-bottom .field-item {
  margin-top: 2em;
}

/* line 1, ../sass/partials/_tabs.scss */
.nav-tabs {
  padding-left: 0;
  padding-bottom: 0.6em;
  border-bottom: 1px solid #1664a6;
}
/* line 5, ../sass/partials/_tabs.scss */
.nav-tabs li {
  display: inline;
}
/* line 7, ../sass/partials/_tabs.scss */
.nav-tabs li a {
  font-size: 1.25em;
  color: #1664a6;
  padding: 0.62em 0.93em;
}
/* line 12, ../sass/partials/_tabs.scss */
.nav-tabs li a:hover {
  border: 1px solid #1664a6;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
}
/* line 18, ../sass/partials/_tabs.scss */
.nav-tabs li.is-active a {
  background-color: #1664a6;
  border-radius: 4px 4px 0 0;
  color: #fff;
}

/* line 1, ../sass/partials/_newsletter.scss */
.newsletter {
  padding: 0.9em;
  padding-left: 0;
  padding-bottom: 3em;
  margin-top: 3.5em;
}
/* line 6, ../sass/partials/_newsletter.scss */
.newsletter h4 {
  font-weight: bold;
  color: #fcb040;
  margin: 0;
  text-align: left;
}
/* line 15, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group {
  padding-left: 0;
  padding-right: 0;
  margin-top: 1em;
}
/* line 19, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-4 {
  padding: 0;
}
/* line 23, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-3,
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-8 {
  padding-left: 0;
  padding-right: 0;
}
/* line 26, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-3 label,
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-8 label {
  font-weight: normal;
}
/* line 35, ../sass/partials/_newsletter.scss */
.newsletter .email-address,
.newsletter .firstname {
  color: #fcb040;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
/* line 43, ../sass/partials/_newsletter.scss */
.newsletter .required {
  border: 1px solid #fcb040;
  width: 100%;
  font-size: 2em;
}
/* line 49, ../sass/partials/_newsletter.scss */
.newsletter .button {
  padding: 1em;
  width: 100%;
  margin-top: 0.5em;
  color: white;
  background-color: #fcb040;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
}

/* line 1, ../sass/partials/_global.scss */
#site-wrapper {
  max-width: 1560px;
  margin: 1.5em auto 0;
}

/* line 6, ../sass/partials/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

/* line 13, ../sass/partials/_global.scss */
.content p,
.view-content p {
  font-size: 1.4em;
  color: #1664a6;
}

/* line 20, ../sass/partials/_global.scss */
article a {
  color: #fcb040;
  text-transform: lowercase;
}
/* line 24, ../sass/partials/_global.scss */
article a:hover {
  color: #fcb040;
}
/* line 27, ../sass/partials/_global.scss */
article .node__submitted {
  color: #1664a6;
}

/* line 32, ../sass/partials/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 38, ../sass/partials/_global.scss */
.region-sidebar ul.menu {
  margin: 0;
}
/* line 40, ../sass/partials/_global.scss */
.region-sidebar ul.menu li {
  padding: 1.6em;
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 44, ../sass/partials/_global.scss */
.region-sidebar ul.menu li a, .region-sidebar ul.menu li p {
  color: white;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* line 52, ../sass/partials/_global.scss */
.region-sidebar li:nth-child(1) {
  background-color: #fcb040;
}

/* line 55, ../sass/partials/_global.scss */
.region-sidebar li:nth-child(2) {
  background-color: #1664a6;
}

/* line 58, ../sass/partials/_global.scss */
.region-sidebar li:nth-child(3) {
  background-color: #89caae;
}

/* line 61, ../sass/partials/_global.scss */
.region-sidebar li:nth-child(4) {
  background-color: #fff;
}

/* line 65, ../sass/partials/_global.scss */
h1 {
  font-size: 2.2em;
}

/* line 70, ../sass/partials/_global.scss */
h2,
h3 {
  font-weight: 700;
  margin: 0;
  color: white;
}

/* line 76, ../sass/partials/_global.scss */
h4 {
  font-size: 1.8em;
}

/* line 80, ../sass/partials/_global.scss */
p.subtitle a {
  font-size: 1.1em;
  text-transform: uppercase;
  color: white;
}

/* line 86, ../sass/partials/_global.scss */
a:hover {
  text-decoration: none;
  color: white;
}

/* line 91, ../sass/partials/_global.scss */
p.subtitle {
  text-decoration: underline;
}

/* line 3, ../sass/partials/_sponsors.scss */
.sponsors h2 {
  color: #1664a6;
  padding: 0.2em;
  text-align: center;
}
/* line 8, ../sass/partials/_sponsors.scss */
.sponsors img {
  width: 50%;
}

/* line 13, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab {
  padding-bottom: 0.6em;
  padding-top: 1.5em;
}
/* line 16, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab p:nth-child(1) {
  font-size: 1.6em;
}
/* line 19, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab p:nth-child(2) {
  font-size: 1.5em;
}
/* line 23, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab p:nth-child(1),
.promote-sponsor-tab p:nth-child(2) {
  color: #1664a6;
  margin-bottom: 0;
}

/* line 29, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-promote h3 {
  color: #1664a6;
}

/* line 34, ../sass/partials/_sponsors.scss */
.view-sponsors,
.view-sponsors-and-partners-page {
  margin: 0.5em 0 2em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../sass/partials/_sponsors.scss */
.view-sponsors .views-row,
.view-sponsors-and-partners-page .views-row {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* Sponsor header background */
/* line 46, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-gold,
#block-views-block-sponsors-and-partners-page-block-sponsor-gold {
  overflow: hidden;
}
/* line 48, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-gold .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-sponsor-gold .sponsor-header {
  background-color: #fcb040;
}

/* line 56, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-silver .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-sponsor-silver .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-partners .sponsor-header {
  background-color: #1664a6;
}

/* line 67, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-bronze .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-sponsor-bronze .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-code-sprint .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-coffee .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-saturday-lunch .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-sat-night .sponsor-header {
  background-color: #89caae;
}

/* line 76, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-and-partners-page-block-code-sprint,
#block-views-block-sponsors-and-partners-page-block-coffee,
#block-views-block-sponsors-and-partners-page-block-saturday-lunch,
#block-views-block-sponsors-and-partners-page-block-sat-night,
#block-views-block-sponsors-and-partners-page-block-partners {
  margin-top: 1.2em;
}

/* line 80, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-promote .sponsor-header {
  padding: 3em 1.6em 1em;
}

/* View should be hidden without content, but view still showing in the markup.
Temporary fix, display: none. */
/* line 87, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-and-partners-page-block-saturday-lunch,
#block-views-block-sponsors-and-partners-page-block-sat-night {
  display: none;
}

/* 'See all sponsors' button displayed except on /sponsors page. */
/* line 92, ../sass/partials/_sponsors.scss */
.path-sponsors .all-sponsor-button {
  display: none;
}

/* Sponsor header text */
/* line 98, ../sass/partials/_sponsors.scss */
.region-sponsors .sponsor-header {
  padding: 2em 1.6em;
  overflow: hidden;
}
/* line 102, ../sass/partials/_sponsors.scss */
.region-sponsors .sponsor-header a,
.region-sponsors .sponsor-header h3 {
  color: #fff;
}
/* line 105, ../sass/partials/_sponsors.scss */
.region-sponsors .sponsor-header h3 {
  font-family: 1.3em;
  font-weight: 700;
  margin: 0;
}
/* line 110, ../sass/partials/_sponsors.scss */
.region-sponsors .sponsor-header a {
  font-size: 1.1em;
  text-transform: uppercase;
}
/* line 114, ../sass/partials/_sponsors.scss */
.region-sponsors .sponsor-header:before {
  background-color: inherit;
  height: 100%;
  content: "";
  left: 15px;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: -1;
}

/* line 127, ../sass/partials/_sponsors.scss */
.region-sponsors .view-empty a {
  color: #fff;
  display: block;
  height: 110px;
  padding: 40px 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 1.2em;
}

/* line 139, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-gold .view-empty a {
  background-color: #fcb040;
}

/* line 147, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-silver .view-empty a,
#block-views-block-sponsors-and-partners-page-block-sponsor-silver .view-empty a,
#block-views-block-sponsors-and-partners-page-block-partners .view-empty a {
  background-color: #1664a6;
}

/* line 158, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-bronze .view-empty a,
#block-views-block-sponsors-and-partners-page-block-sponsor-bronze .view-empty a,
#block-views-block-sponsors-and-partners-page-block-code-sprint .view-empty a,
#block-views-block-sponsors-and-partners-page-block-coffee .view-empty a,
#block-views-block-sponsors-and-partners-page-block-saturday-lunch .view-empty a,
#block-views-block-sponsors-and-partners-page-block-sat-night .view-empty a {
  background-color: #89caae;
}

/* line 163, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-promote .view-empty a {
  background-color: #fcb040;
  color: white;
  font-size: 1.2em;
  height: auto;
  padding: 10px;
  text-align: center;
}

/* Sponsor override float into table display to center items */
@media (min-width: 992px) {
  /* line 175, ../sass/partials/_sponsors.scss */
  .region-sponsors .view-sponsors,
  .region-sponsors .view-sponsors-and-partners-page {
    display: table;
    width: 100%;
  }
  /* line 178, ../sass/partials/_sponsors.scss */
  .region-sponsors .view-sponsors .views-row,
  .region-sponsors .view-sponsors-and-partners-page .views-row {
    text-align: unset;
  }

  /* line 187, ../sass/partials/_sponsors.scss */
  .region-sponsors .view-sponsors .view-header,
  .region-sponsors .view-sponsors-and-partners-page .view-header,
  .region-sponsors .view-sponsors .view-empty,
  .region-sponsors .view-sponsors-and-partners-page .view-empty,
  .region-sponsors .view-sponsors .view-content,
  .region-sponsors .view-sponsors-and-partners-page .view-content {
    display: table-cell;
    float: none;
  }

  /* line 192, ../sass/partials/_sponsors.scss */
  .region-sponsors .view-sponsors .view-empty,
  .region-sponsors .view-sponsors .view-content {
    vertical-align: middle;
  }

  /* line 195, ../sass/partials/_sponsors.scss */
  #block-views-block-sponsors-block-sponsor-promote .view-empty a {
    display: inline-block;
  }
}
/* line 201, ../sass/partials/_sponsors.scss */
.col-md-8.camp-button-wrapper {
  width: 100%;
}
/* line 203, ../sass/partials/_sponsors.scss */
.col-md-8.camp-button-wrapper .camp-button {
  font-size: 1.5em;
}

/* line 208, ../sass/partials/_sponsors.scss */
.footer-container {
  margin-top: 3em;
}

/* line 1, ../sass/partials/_footer.scss */
.footer-container {
  clear: both;
  background: #1664a6;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  width: 100%;
}
/* line 10, ../sass/partials/_footer.scss */
.footer-container div:nth-child(1),
.footer-container div:nth-child(2) {
  text-align: center;
  font-size: 1em;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0.5em;
  font-weight: 300;
}
/* line 17, ../sass/partials/_footer.scss */
.footer-container div:nth-child(1) p a,
.footer-container div:nth-child(2) p a {
  color: white;
}

/* line 1, ../sass/partials/_proposals.scss */
.header-info-top {
  padding: 1.6em;
}

/* line 6, ../sass/partials/_proposals.scss */
h6,
.speaker-announcement {
  color: #1664a6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  text-align: left;
}
/* line 11, ../sass/partials/_proposals.scss */
h6 a,
.speaker-announcement a {
  color: #fcb040;
}

/* line 17, ../sass/partials/_proposals.scss */
.view-proposals .views-row {
  float: left;
  margin-bottom: 2em;
  margin-top: 2em;
}

/* line 29, ../sass/partials/_proposals.scss */
.view-carousel-proposal .drupalcamp-speaker,
.view-carousel-proposal .session-type-label,
.view-carousel-proposal .session-level-label,
.view-carousel-proposal .session-summary,
.view-carousel-proposal .speaker-drupalcamp-topic {
  text-align: center;
}

/* line 34, ../sass/partials/_proposals.scss */
.drupalcamp-speaker {
  margin-bottom: 0.5em;
}
/* line 36, ../sass/partials/_proposals.scss */
.drupalcamp-speaker a {
  color: #fcb040;
  text-transform: lowercase;
  text-decoration: underline;
}

/* line 46, ../sass/partials/_proposals.scss */
.drupalcamp-speaker,
.session-type-label,
.session-level-label,
.topic-summary p {
  color: #1664a6;
  text-transform: lowercase;
  font-size: 1.2em;
}

/* line 52, ../sass/partials/_proposals.scss */
.speaker-drupalcamp-topic {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 0.5em;
}
/* line 57, ../sass/partials/_proposals.scss */
.speaker-drupalcamp-topic a {
  color: #1664a6;
  font-size: 1.4em;
}

/* line 69, ../sass/partials/_proposals.scss */
.field--name-field-session-type,
.field--name-field-session-level,
.field--name-field-first-name,
.field--name-field-last-name,
.field--name-field-profile-image {
  margin-bottom: 0;
  overflow: hidden;
}
/* line 73, ../sass/partials/_proposals.scss */
.field--name-field-session-type .field__label::after,
.field--name-field-session-level .field__label::after,
.field--name-field-first-name .field__label::after,
.field--name-field-last-name .field__label::after,
.field--name-field-profile-image .field__label::after {
  content: ":";
}
/* line 77, ../sass/partials/_proposals.scss */
.field--name-field-session-type .field__label,
.field--name-field-session-type .field__item,
.field--name-field-session-level .field__label,
.field--name-field-session-level .field__item,
.field--name-field-first-name .field__label,
.field--name-field-first-name .field__item,
.field--name-field-last-name .field__label,
.field--name-field-last-name .field__item,
.field--name-field-profile-image .field__label,
.field--name-field-profile-image .field__item {
  float: left;
  font-weight: normal;
  color: #1664a6;
  font-size: 1.2em;
}
/* line 83, ../sass/partials/_proposals.scss */
.field--name-field-session-type .field__item,
.field--name-field-session-level .field__item,
.field--name-field-first-name .field__item,
.field--name-field-last-name .field__item,
.field--name-field-profile-image .field__item {
  margin-left: 0.5em;
}

/* line 90, ../sass/partials/_proposals.scss */
.header-info-top .node__submitted {
  color: #1664a6;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

/* line 99, ../sass/partials/_proposals.scss */
.view-id-your_proposal ul {
  list-style-type: none;
}
/* line 101, ../sass/partials/_proposals.scss */
.view-id-your_proposal ul li {
  margin-left: 0;
}

/* line 108, ../sass/partials/_proposals.scss */
#block-views-block-carousel-proposal-block-carousel-proposal h2 {
  text-align: center;
}

/* line 114, ../sass/partials/_proposals.scss */
.flexslider {
  margin-bottom: 1em;
}
/* line 116, ../sass/partials/_proposals.scss */
.flexslider .slides img {
  margin: 0 auto;
}
/* line 121, ../sass/partials/_proposals.scss */
.flexslider .flex-direction-nav a {
  top: 25%;
}
/* line 124, ../sass/partials/_proposals.scss */
.flexslider .flex-direction-nav a:before {
  font-size: 3em;
  color: #1664a6;
}
/* line 129, ../sass/partials/_proposals.scss */
.flexslider .flex-direction-nav .flex-next,
.flexslider .flex-direction-nav .flex-prev {
  height: 4em;
}
/* line 132, ../sass/partials/_proposals.scss */
.flexslider .flex-direction-nav .flex-prev {
  left: 6px;
}
/* line 135, ../sass/partials/_proposals.scss */
.flexslider .flex-direction-nav .flex-next {
  right: 6px;
}
/* line 143, ../sass/partials/_proposals.scss */
.flexslider .slides,
.flexslider .slides > li,
.flexslider .flex-control-nav,
.flexslider .flex-direction-nav {
  padding-left: 18px;
  padding-right: 18px;
}
/* line 147, ../sass/partials/_proposals.scss */
.flexslider ol.flex-control-nav {
  visibility: hidden;
}
/* line 150, ../sass/partials/_proposals.scss */
.flexslider .flex-direction-nav a {
  opacity: 10;
}

/* line 156, ../sass/partials/_proposals.scss */
.camp-button-wrapper {
  overflow: hidden;
}
/* line 158, ../sass/partials/_proposals.scss */
.camp-button-wrapper .camp-button {
  font-size: 1.8em;
  text-transform: uppercase;
  padding: 1em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fcb040;
  color: white;
  font-family: "Montserrat", sans-serif;
}
