/*******************************************************************************
 * style.scss
 ******************************************************************************/
/* Colors */
/* line 1, ../sass/partials/_header.scss */
.header {
  margin-top: 2.5em;
}

/* line 5, ../sass/partials/_header.scss */
#site-wrapper .site-logo {
  margin-bottom: 1.5em;
  text-align: center;
}

/* line 10, ../sass/partials/_header.scss */
.header-info-top {
  background-color: #1664a6;
  padding: 1.5em;
}
/* line 13, ../sass/partials/_header.scss */
.header-info-top p,
.header-info-top h2 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
}
/* line 20, ../sass/partials/_header.scss */
.header-info-top a {
  color: #fff;
  font-size: 1.2em;
}

/* line 26, ../sass/partials/_header.scss */
.content h1 {
  font-size: 1.8em;
  text-align: center;
}

/* line 34, ../sass/partials/_header.scss */
.content h1,
.content h2,
.region-header-info-bottom h1,
.region-header-info-bottom h2,
#block-views-block-user-sessions-block-user-sessions h1,
#block-views-block-user-sessions-block-user-sessions h2 {
  font-weight: bold;
  color: #1664a6;
  margin-bottom: 1em;
  margin-top: 2em;
}
/* line 41, ../sass/partials/_header.scss */
.content .field-item,
.region-header-info-bottom .field-item,
#block-views-block-user-sessions-block-user-sessions .field-item {
  margin-top: 2em;
}

/* line 1, ../sass/partials/_tabs.scss */
.nav-tabs {
  padding-left: 0;
  padding-bottom: 0.6em;
  border-bottom: 1px solid #1664a6;
}
/* line 5, ../sass/partials/_tabs.scss */
.nav-tabs li {
  display: inline;
}
/* line 7, ../sass/partials/_tabs.scss */
.nav-tabs li a {
  font-size: 1.25em;
  color: #1664a6;
  padding: 0.62em 0.93em;
}
/* line 12, ../sass/partials/_tabs.scss */
.nav-tabs li a:hover {
  border: 1px solid #1664a6;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
}
/* line 18, ../sass/partials/_tabs.scss */
.nav-tabs li.is-active a {
  background-color: #1664a6;
  border-radius: 4px 4px 0 0;
  color: #fff;
}

/* line 1, ../sass/partials/_newsletter.scss */
.newsletter {
  padding: 0.9em;
  padding-bottom: 3em;
  clear: both;
}
/* line 5, ../sass/partials/_newsletter.scss */
.newsletter h4 {
  font-weight: bold;
  font-size: 1.5em;
  color: #fcb040;
  margin: 0;
}
/* line 14, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0.9em;
}
/* line 18, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-4 {
  padding: 0;
}
/* line 21, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-3,
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-8 {
  padding-left: 0;
  padding-right: 0;
}
/* line 25, ../sass/partials/_newsletter.scss */
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-3 label,
.newsletter form #mc_embed_signup_scroll .mc-field-group .col-md-8 label {
  font-weight: normal;
}
/* line 33, ../sass/partials/_newsletter.scss */
.newsletter .email-address,
.newsletter .firstname {
  color: #fcb040;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
/* line 42, ../sass/partials/_newsletter.scss */
.newsletter .required {
  border: 1px solid #fcb040;
  width: 100%;
  font-size: 1.3em;
}
/* line 48, ../sass/partials/_newsletter.scss */
.newsletter .button {
  padding: 0.3em;
  width: 100%;
  margin-top: 0.5em;
  color: #fff;
  background-color: #fcb040;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

/* line 1, ../sass/partials/_global.scss */
#site-wrapper {
  max-width: 1560px;
  margin: 1.5em auto 0;
}

/* line 6, ../sass/partials/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1664a6;
}

/* line 11, ../sass/partials/_global.scss */
.header-info-top h3 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

/* line 20, ../sass/partials/_global.scss */
.content p,
.view-content p {
  font-size: 1.2em;
  color: #1664a6;
}

/* line 26, ../sass/partials/_global.scss */
.view-sessions .view-content p {
  margin: 0;
}

/* line 31, ../sass/partials/_global.scss */
article a {
  color: #fcb040;
  text-transform: lowercase;
}
/* line 35, ../sass/partials/_global.scss */
article a:hover {
  color: #fcb040;
}
/* line 38, ../sass/partials/_global.scss */
article .node__submitted {
  color: #1664a6;
}

/* line 43, ../sass/partials/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 48, ../sass/partials/_global.scss */
.node-type-list dt a {
  color: #1664a6;
}

/* line 52, ../sass/partials/_global.scss */
#edit-field-beginner-workshop--description a {
  color: #fcb040;
  text-transform: none;
}

/* line 58, ../sass/partials/_global.scss */
.region-sidebar ul.menu {
  margin: 0;
}
/* line 60, ../sass/partials/_global.scss */
.region-sidebar ul.menu li {
  padding: 1.6em;
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 64, ../sass/partials/_global.scss */
.region-sidebar ul.menu li a, .region-sidebar ul.menu li p, .region-sidebar ul.menu li h3 {
  color: #1664a6;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* line 73, ../sass/partials/_global.scss */
.region-sidebar ul.menu li:nth-child(1) {
  background-color: #fcb040;
}
/* line 75, ../sass/partials/_global.scss */
.region-sidebar ul.menu li:nth-child(1) a, .region-sidebar ul.menu li:nth-child(1) p, .region-sidebar ul.menu li:nth-child(1) h3 {
  color: #fff;
}

/* line 82, ../sass/partials/_global.scss */
.region-sidebar ul.menu li:nth-child(2) {
  background-color: #1664a6;
}
/* line 84, ../sass/partials/_global.scss */
.region-sidebar ul.menu li:nth-child(2) a, .region-sidebar ul.menu li:nth-child(2) p, .region-sidebar ul.menu li:nth-child(2) h3 {
  color: #fff;
}

/* line 91, ../sass/partials/_global.scss */
.region-sidebar ul.menu li:nth-child(3) {
  background-color: #89caae;
}
/* line 93, ../sass/partials/_global.scss */
.region-sidebar ul.menu li:nth-child(3) a, .region-sidebar ul.menu li:nth-child(3) p, .region-sidebar ul.menu li:nth-child(3) h3 {
  color: #fff;
}

/* line 99, ../sass/partials/_global.scss */
a {
  font-size: 1em;
  color: #1664a6;
}

/* line 104, ../sass/partials/_global.scss */
a:hover {
  text-decoration: none;
  color: #1664a6;
}

/* line 109, ../sass/partials/_global.scss */
.header-info-top a {
  color: #fff;
}
/* line 112, ../sass/partials/_global.scss */
.header-info-top a:hover {
  color: #fff;
}

/* line 117, ../sass/partials/_global.scss */
p.subtitle {
  text-decoration: underline;
}

/* Styling for user profile page */
/* line 123, ../sass/partials/_global.scss */
#block-drupalcampcebu2015-page-title h1.page-title {
  font-size: 2em;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

/* line 131, ../sass/partials/_global.scss */
#block-views-block-user-sessions-block-user-sessions {
  padding-bottom: 2em;
  padding-top: 0.5em;
  overflow: hidden;
}
/* line 135, ../sass/partials/_global.scss */
#block-views-block-user-sessions-block-user-sessions h2 {
  margin: 0;
  font-size: 1.2em;
}
/* line 139, ../sass/partials/_global.scss */
#block-views-block-user-sessions-block-user-sessions a {
  color: #fcb040;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
}

/* UP Logo below the menu */
/* line 150, ../sass/partials/_global.scss */
#site-wrapper .col-md-4 .up-logo {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 158, ../sass/partials/_global.scss */
.path-node.node--type-sessions .region-content {
  margin-bottom: 30px;
}

/* ================== */
/* BREAKPOINT SECTION FOR USER PROFILE */
/* ================== */
@media only screen and (min-width: 420px) {
  /* line 167, ../sass/partials/_global.scss */
  #block-views-block-user-sessions-block-user-sessions h2 {
    font-size: 1.7em;
  }
  /* line 170, ../sass/partials/_global.scss */
  #block-views-block-user-sessions-block-user-sessions a {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1290px) {
  /* line 177, ../sass/partials/_global.scss */
  #block-views-block-user-sessions-block-user-sessions {
    padding-top: 1em;
  }
  /* line 179, ../sass/partials/_global.scss */
  #block-views-block-user-sessions-block-user-sessions h2 {
    font-size: 2em;
  }
  /* line 182, ../sass/partials/_global.scss */
  #block-views-block-user-sessions-block-user-sessions a {
    font-size: 1.5em;
  }
}
/* line 2, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab {
  padding-bottom: 0.6em;
  padding-top: 1.5em;
}
/* line 5, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab p:nth-child(1) {
  font-size: 1.6em;
}
/* line 8, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab p:nth-child(2) {
  font-size: 1.5em;
}
/* line 11, ../sass/partials/_sponsors.scss */
.promote-sponsor-tab p:nth-child(1),
.promote-sponsor-tab p:nth-child(2) {
  color: #1664a6;
  margin-bottom: 0;
}

/* line 18, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-promote h3 {
  color: #1664a6;
}

/* line 22, ../sass/partials/_sponsors.scss */
.view-sponsors,
.view-sponsors-and-partners-page {
  overflow: hidden;
  *zoom: 1;
}
/* line 25, ../sass/partials/_sponsors.scss */
.view-sponsors .views-row,
.view-sponsors-and-partners-page .views-row {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* Sponsor header background */
/* line 33, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-gold,
#block-views-block-sponsors-and-partners-page-block-sponsor-gold {
  overflow: hidden;
}
/* line 36, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-gold .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-sponsor-gold .sponsor-header {
  background-color: #fcb040;
}

/* line 44, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-silver .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-sponsor-silver .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-partners .sponsor-header {
  background-color: #1664a6;
}

/* line 55, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-bronze .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-sponsor-bronze .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-code-sprint .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-coffee .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-saturday-lunch .sponsor-header,
#block-views-block-sponsors-and-partners-page-block-sat-night .sponsor-header {
  background-color: #89caae;
}

/* line 60, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-and-partners-page-block-code-sprint,
#block-views-block-sponsors-and-partners-page-block-coffee,
#block-views-block-sponsors-and-partners-page-block-saturday-lunch,
#block-views-block-sponsors-and-partners-page-block-sat-night,
#block-views-block-sponsors-and-partners-page-block-partners {
  margin-top: 1.2em;
}

/* line 68, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-promote .sponsor-header {
  padding: 3em 1.6em 1em;
}

/* View should be hidden without content, but view still showing in the markup.
Temporary fix, display: none. */
/* line 74, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-and-partners-page-block-saturday-lunch,
#block-views-block-sponsors-and-partners-page-block-sat-night {
  display: none;
}

/* 'See all sponsors' button displayed except on /sponsors page. */
/* line 80, ../sass/partials/_sponsors.scss */
.path-sponsors .all-sponsor-button {
  display: none;
}

/* Sponsor header text */
/* line 85, ../sass/partials/_sponsors.scss */
.sponsor-header {
  padding: 3em 1.6em;
  /* Possible fix for the bug in sponsor tabs background-color */
}
/* line 89, ../sass/partials/_sponsors.scss */
.sponsor-header a,
.sponsor-header h3 {
  color: #fff;
}
/* line 93, ../sass/partials/_sponsors.scss */
.sponsor-header h3 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
}
/* line 98, ../sass/partials/_sponsors.scss */
.sponsor-header a {
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 102, ../sass/partials/_sponsors.scss */
.sponsor-header:before {
  background-color: inherit;
  height: 100%;
  content: "";
  left: 15px;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: -1;
}

/* line 114, ../sass/partials/_sponsors.scss */
.region-sponsors .view-empty a {
  color: #fff;
  display: block;
  height: 110px;
  padding: 40px 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}

/* line 125, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-gold .view-empty a {
  background-color: #fcb040;
  font-size: 1.6em;
}

/* line 134, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-silver
#block-views-block-sponsors-and-partners-page-block-sponsor-silver .view-empty a,
#block-views-block-sponsors-and-partners-page-block-partners .view-empty a {
  background-color: #1664a6;
  font-size: 1.4em;
}

/* line 146, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-bronze .view-empty a,
#block-views-block-sponsors-and-partners-page-block-sponsor-bronze .view-empty a,
#block-views-block-sponsors-and-partners-page-block-code-sprint .view-empty a,
#block-views-block-sponsors-and-partners-page-block-coffee .view-empty a,
#block-views-block-sponsors-and-partners-page-block-saturday-lunch .view-empty a,
#block-views-block-sponsors-and-partners-page-block-sat-night .view-empty a {
  background-color: #89caae;
  font-size: 1.3em;
}

/* line 152, ../sass/partials/_sponsors.scss */
#block-views-block-sponsors-block-sponsor-promote .view-empty a {
  background-color: #fcb040;
  color: #fff;
  font-size: 1.5em;
  height: auto;
  padding: 20px;
  text-align: center;
}

/* ================== */
/* BREAKPOINT SECTION */
/* ================== */
/* Sponsor override float into table display to center items */
@media (min-width: 992px) {
  /* line 167, ../sass/partials/_sponsors.scss */
  .view-sponsors,
  .view-sponsors-and-partners-page {
    display: table;
    width: 100%;
  }
  /* line 171, ../sass/partials/_sponsors.scss */
  .view-sponsors .views-row,
  .view-sponsors-and-partners-page .views-row {
    text-align: unset;
  }

  /* line 176, ../sass/partials/_sponsors.scss */
  .view-sponsors .view-header,
  .view-sponsors-and-partners-page .view-header,
  .view-sponsors .view-empty,
  .view-sponsors-and-partners-page .view-empty,
  .view-sponsors .view-content,
  .view-sponsors-and-partners-page .view-content {
    display: table-cell;
    float: none;
  }

  /* line 187, ../sass/partials/_sponsors.scss */
  .view-sponsors .view-empty,
  .view-sponsors-and-partners-page .view-empty,
  .view-sponsors .view-content,
  .view-sponsors-and-partners-page .view-content {
    vertical-align: middle;
  }

  /* line 194, ../sass/partials/_sponsors.scss */
  #block-views-block-sponsors-block-sponsor-promote .view-empty a {
    display: inline-block;
  }

  /* line 198, ../sass/partials/_sponsors.scss */
  #block-views-block-sponsors-block-sponsor-promote .sponsor-header {
    padding: 3em 1.6em;
  }
}
/* line 203, ../sass/partials/_sponsors.scss */
.col-md-8.camp-button-wrapper {
  float: right;
  margin-top: 1em;
}

/* line 209, ../sass/partials/_sponsors.scss */
.view-footer li p {
  margin-bottom: 0;
}
/* line 212, ../sass/partials/_sponsors.scss */
.view-footer li::before {
  display: none;
}

/* line 1, ../sass/partials/_footer.scss */
.footer-container {
  clear: both;
  background: #1664a6;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-top: 2em;
  width: 100%;
}
/* line 10, ../sass/partials/_footer.scss */
.footer-container img.membership-logo {
  padding: 0 0 16px;
}
/* line 13, ../sass/partials/_footer.scss */
.footer-container div:nth-child(1),
.footer-container div:nth-child(2) {
  text-align: center;
  font-size: 0.8em;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0.5em;
  font-weight: 300;
}
/* line 21, ../sass/partials/_footer.scss */
.footer-container div:nth-child(1) p a,
.footer-container div:nth-child(2) p a {
  color: #fff;
}

@media only screen and (min-width: 420px) {
  /* line 4, ../sass/partials/_media-queries.scss */
  #site-wrapper .site-logo {
    margin-bottom: 2.5em;
  }
  /* line 7, ../sass/partials/_media-queries.scss */
  #site-wrapper .header-info-top,
  #site-wrapper .header-info-bottom {
    text-align: left;
    padding: 2.2em;
    padding-top: 3.5em;
    padding-bottom: 5.5em;
  }
  /* line 10, ../sass/partials/_media-queries.scss */
  #site-wrapper .header-info-top h3,
  #site-wrapper .header-info-top p,
  #site-wrapper .header-info-bottom h3,
  #site-wrapper .header-info-bottom p {
    font-size: 1.5em;
  }
  /* line 14, ../sass/partials/_media-queries.scss */
  #site-wrapper .header-info-top h2,
  #site-wrapper .header-info-bottom h2 {
    font-size: 2.1em;
    margin-top: 0;
  }
  /* line 18, ../sass/partials/_media-queries.scss */
  #site-wrapper .header-info-top h3,
  #site-wrapper .header-info-bottom h3 {
    margin-bottom: 0;
  }
  /* line 27, ../sass/partials/_media-queries.scss */
  #site-wrapper .content h1 {
    font-size: 2.2em;
    text-align: left;
  }
  /* line 34, ../sass/partials/_media-queries.scss */
  #site-wrapper .newsletter h4 {
    font-size: 2.1em;
    margin-top: 1.5em;
  }
  /* line 38, ../sass/partials/_media-queries.scss */
  #site-wrapper .newsletter .email-address,
  #site-wrapper .newsletter .firstname {
    font-size: 1.5em;
  }
  /* line 44, ../sass/partials/_media-queries.scss */
  #site-wrapper .mc-field-group {
    clear: both;
  }
  /* line 48, ../sass/partials/_media-queries.scss */
  #site-wrapper .newsletter form #mc_embed_signup_scroll .mc-field-group {
    margin-top: 1.5em;
  }
  /* line 52, ../sass/partials/_media-queries.scss */
  #site-wrapper .newsletter .button {
    font-size: 1.5em;
  }

  /* line 57, ../sass/partials/_media-queries.scss */
  .region-sponsors {
    overflow: hidden;
  }

  /* line 61, ../sass/partials/_media-queries.scss */
  .logo-wrapper {
    margin-top: 0;
  }

  /* line 65, ../sass/partials/_media-queries.scss */
  .promote-sponsor-tab {
    padding-top: 2.5em;
    padding: 1.6em;
  }
  /* line 68, ../sass/partials/_media-queries.scss */
  .promote-sponsor-tab p:nth-child(1) {
    font-size: 1.8em;
  }

  /* line 73, ../sass/partials/_media-queries.scss */
  .promote-sponsor-button {
    margin-top: 1em;
  }

  /* line 77, ../sass/partials/_media-queries.scss */
  .footer-container p {
    font-size: 1.5em;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1290px) {
  /* line 86, ../sass/partials/_media-queries.scss */
  .header-info-top h3,
  .header-info-top p {
    font-size: 1.2em;
  }
  /* line 90, ../sass/partials/_media-queries.scss */
  .header-info-top h2 {
    font-size: 2.2em;
  }

  /* line 95, ../sass/partials/_media-queries.scss */
  .footer-container {
    padding-top: 3em;
    padding-bottom: 5em;
    margin-top: 3em;
  }
}
/* line 1, ../sass/partials/_proposals.scss */
h1 {
  font-size: 2.3em;
  margin-bottom: 0.5em;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

/* line 8, ../sass/partials/_proposals.scss */
h6,
.speaker-announcement {
  color: #1664a6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 1.5em;
}
/* line 15, ../sass/partials/_proposals.scss */
h6 a,
.speaker-announcement a {
  color: #fcb040;
}

/* line 20, ../sass/partials/_proposals.scss */
.view-proposals .views-row {
  float: left;
  margin-bottom: 1.5em;
}

/* line 25, ../sass/partials/_proposals.scss */
.drupalcamp-speaker a {
  color: #fcb040;
  text-decoration: underline;
}

/* line 30, ../sass/partials/_proposals.scss */
.drupalcamp-speaker,
.session-type-label,
.session-level-label {
  color: #1664a6;
}

/* line 36, ../sass/partials/_proposals.scss */
.session-room {
  margin-bottom: 1.5em;
  overflow: hidden;
  padding-left: 3em;
}

/* line 42, ../sass/partials/_proposals.scss */
.session-summary {
  margin-bottom: 0.5em;
}

/* line 47, ../sass/partials/_proposals.scss */
#block-views-block-your-proposals-block-your-proposals-list p,
#block-views-block-your-proposals-block-your-proposals-list a {
  text-transform: none;
  font-size: 1.5em;
  margin: 0;
}

/* line 55, ../sass/partials/_proposals.scss */
.field__label,
.field__item {
  font-weight: normal;
  color: #1664a6;
  font-size: 1.2em;
}

/* line 62, ../sass/partials/_proposals.scss */
.field__item {
  margin-left: 0.5em;
}

/* line 68, ../sass/partials/_proposals.scss */
.header-info-top .node__submitted {
  color: #1664a6;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

/* line 76, ../sass/partials/_proposals.scss */
.topic-summary ul {
  color: #1664a6;
}

/* line 80, ../sass/partials/_proposals.scss */
.item-list ul {
  color: #fff;
}

/* line 86, ../sass/partials/_proposals.scss */
#block-views-block-carousel-proposal-block-carousel-proposal h2 {
  text-align: left;
}

/* line 93, ../sass/partials/_proposals.scss */
.flexslider .slides img {
  margin: 0 auto;
}
/* line 96, ../sass/partials/_proposals.scss */
.flexslider .col-md-9.speaker-drupalcamp-topic,
.flexslider .col-md-9.drupalcamp-speaker,
.flexslider .col-md-9.topic-summary {
  text-align: center;
}
/* line 101, ../sass/partials/_proposals.scss */
.flexslider h3.speaker-drupalcamp-topic a {
  color: #1664a6;
}

/* line 106, ../sass/partials/_proposals.scss */
#block-views-block-carousel-proposal-block-carousel-proposal h2 {
  text-align: center;
}

/* line 109, ../sass/partials/_proposals.scss */
.flexslider {
  margin-bottom: 2em;
}

/* line 113, ../sass/partials/_proposals.scss */
.flex-direction-nav .flex-prev {
  left: 10px;
  height: 3em;
}
/* line 117, ../sass/partials/_proposals.scss */
.flex-direction-nav .flex-next {
  right: 10px;
  height: 3em;
}
/* line 121, ../sass/partials/_proposals.scss */
.flex-direction-nav a:before {
  color: #1664a6;
}

/* line 125, ../sass/partials/_proposals.scss */
.flex-direction-nav a {
  opacity: 10;
}

/* line 128, ../sass/partials/_proposals.scss */
.slides {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

/* line 132, ../sass/partials/_proposals.scss */
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  padding-left: 18px;
  padding-right: 18px;
}

/* line 139, ../sass/partials/_proposals.scss */
ol.flex-control-nav {
  visibility: hidden;
}

/* line 144, ../sass/partials/_proposals.scss */
.session-time {
  color: #1664a6;
  font-size: 1.2em;
  font-weight: 700;
}

/* line 149, ../sass/partials/_proposals.scss */
.type,
.level,
.room {
  color: #fff;
  padding: 0.4em;
  text-transform: uppercase;
  padding-left: 1.5em;
  padding-right: 1em;
}

/* line 158, ../sass/partials/_proposals.scss */
.type {
  background-color: #1664a6;
}

/* line 161, ../sass/partials/_proposals.scss */
.level {
  background-color: #fcb040;
}

/* line 164, ../sass/partials/_proposals.scss */
.room {
  background-color: #89caae;
}

/* line 168, ../sass/partials/_proposals.scss */
.speaker-drupalcamp-topic h3 {
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: 700;
}

/* line 174, ../sass/partials/_proposals.scss */
h3.speaker-drupalcamp-topic {
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 1.4em;
  font-weight: 700;
}

/* line 182, ../sass/partials/_proposals.scss */
.camp-button-wrapper {
  overflow: hidden;
  width: 100%;
}
/* line 185, ../sass/partials/_proposals.scss */
.camp-button-wrapper .camp-button {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fcb040;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* ================== */
/* BREAKPOINT SECTION */
/* ================== */
@media (min-width: 480px) {
  /* line 203, ../sass/partials/_proposals.scss */
  .flexslider .slides img {
    width: 40%;
  }

  /* line 207, ../sass/partials/_proposals.scss */
  .type,
  .level,
  .room {
    float: left;
  }

  /* line 213, ../sass/partials/_proposals.scss */
  .camp-button-wrapper .camp-button {
    width: 60%;
  }
}
/* ================== */
/* BREAKPOINT SECTION */
/* ================== */
@media (min-width: 1020px) {
  /* line 224, ../sass/partials/_proposals.scss */
  .flexslider .slides img {
    width: 100%;
  }
  /* line 227, ../sass/partials/_proposals.scss */
  .flexslider .col-md-9.speaker-drupalcamp-topic,
  .flexslider .col-md-9.drupalcamp-speaker,
  .flexslider .col-md-9.topic-summary {
    text-align: left;
  }

  /* line 233, ../sass/partials/_proposals.scss */
  .col-md-9.topic-summary {
    font-size: 1.2em;
  }

  /* line 236, ../sass/partials/_proposals.scss */
  .col-md-9.session-type-label,
  .col-md-9.session-level-label {
    float: right;
  }

  /* line 240, ../sass/partials/_proposals.scss */
  #block-views-block-carousel-proposal-block-carousel-proposal h2 {
    text-align: left;
  }

  /* line 243, ../sass/partials/_proposals.scss */
  .camp-button-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  /* line 246, ../sass/partials/_proposals.scss */
  .camp-button-wrapper .camp-button {
    width: 31.5%;
  }
}
/* ================== */
/* BREAKPOINT SECTION */
/* ================== */
@media (min-width: 1200px) {
  /* line 256, ../sass/partials/_proposals.scss */
  .camp-button-wrapper .camp-button {
    width: 34%;
  }
}
/* line 1, ../sass/partials/_user.scss */
.profile {
  overflow: hidden;
  *zoom: 1;
}
/* line 3, ../sass/partials/_user.scss */
.profile .field {
  margin-bottom: 0;
  overflow: hidden;
}
/* line 9, ../sass/partials/_user.scss */
.profile .field__label::after {
  content: ":";
}
/* line 13, ../sass/partials/_user.scss */
.profile .field--name-field-profile-image {
  margin: 0 15px 15px 0;
}
/* line 17, ../sass/partials/_user.scss */
.profile .field__label,
.profile .field__item {
  color: #1664a6;
  font-size: 1.1em;
}
/* line 23, ../sass/partials/_user.scss */
.profile .form-item,
.profile .form-item h4.label {
  color: #1664a6;
  font-family: "Montserrat", sans-serif;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
  font-weight: normal;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
}

/* ======================= */
/* ABOUT THE SPEAKER BLOCK */
/* ======================= */
/* line 40, ../sass/partials/_user.scss */
.block-views-blockabout-the-speaker-block-1 {
  overflow: hidden;
  *zoom: 1;
  background-color: #1664a6;
  color: #fff;
  padding: 15px;
}
/* line 46, ../sass/partials/_user.scss */
.block-views-blockabout-the-speaker-block-1 h2, .block-views-blockabout-the-speaker-block-1 a {
  color: #fff;
}
/* line 50, ../sass/partials/_user.scss */
.block-views-blockabout-the-speaker-block-1 h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}
/* line 56, ../sass/partials/_user.scss */
.block-views-blockabout-the-speaker-block-1 .speaker-image {
  margin: 0 15px 15px 0;
}
/* line 60, ../sass/partials/_user.scss */
.block-views-blockabout-the-speaker-block-1 .views-row > div {
  font-size: 16px;
}
/* line 64, ../sass/partials/_user.scss */
.block-views-blockabout-the-speaker-block-1 .views-row .speaker-username {
  font-size: 20px;
  margin-bottom: 5px;
}

/* ========================= */
/* BREAKPOINT - USER PROFILE */
/* ========================= */
@media only screen and (min-width: 420px) {
  /* line 74, ../sass/partials/_user.scss */
  .profile {
    margin-bottom: 30px;
  }
  /* line 77, ../sass/partials/_user.scss */
  .profile .field--name-field-profile-image {
    float: left;
    margin: 0 15px 15px 0;
  }
  /* line 82, ../sass/partials/_user.scss */
  .profile .field__label,
  .profile .field__item {
    font-size: 1.3em;
  }
  /* line 87, ../sass/partials/_user.scss */
  .profile .form-item h4.label {
    font-size: 1.1em;
  }

  /* line 92, ../sass/partials/_user.scss */
  .block-views-blockabout-the-speaker-block-1 .speaker-image {
    float: left;
  }
}
@media only screen and (min-width: 1290px) {
  /* line 99, ../sass/partials/_user.scss */
  .profile .field__label,
  .profile .field__item {
    font-size: 1.5em;
  }
}
